<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FullStackDeveloper</title>
    <link href="@Url.Content("~/css/desktopsite.css")" rel="stylesheet" type="text/css" />

</head>
<body class="background">

    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
